{
  "parser": "babel-eslint",
  "plugins": ["flowtype", "react"],
  "extends": [
    "plugin:flowtype/recommended",
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "env": {
    "node": true,
    "browser": true
  }
}
